#menu{margin: 0; padding: 0;

	}
#menu{
		margin: 0;
	background-color: #;
	height:0px;
	padding-top:10px;
	float:right;
		
}
#menu ul{
	list-style-type:none;
	z-index:11;
	margin: 0px;
	padding: 0px;
	
	}
#menu ul li {
	float: left;
	position: relative;
	margin: 0px;
	padding: 0px;
	

	}
#menu ul li:hover{background-color:#EBEBEB;}

#menu ul li a{color: #000; padding: 0 10px; line-height:25px; font-size:13px; font-family:arial; display: block; text-decoration:none; }

#menu ul li a:hover{background-color: ; color:#000;}

#menu ul li ul li{
	float: none;
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

#menu ul li ul{position: absolute; top:25px; left:0px; display: none; background-color: #fff; width:150px;  }

#menu ul li:hover > ul{display: block;}

#menu ul li ul li a{white-space: nowrap; line-height:25px; color:#eb1650;  }

#menu ul li ul li ul{position: absolute; top:0; left:145px; display: none; background-color: #fff; width:150px;}